<!-- <h1>home page</h1> -->
<html>

<head>

</head>
<title></title>

<body>
    <table class="table table-striped" border="1" id="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>gender</th>
            <th>status</th>
        </tr>
        <tr *ngFor="let userdata of api">
            <td>{{userdata.id}}</td>
            <td>{{userdata.name}}</td>
            <td>{{userdata.email}}</td>
            <td>{{userdata.gender}}</td>
            <td>{{userdata.status}}</td>
        </tr>
    </table>&nbsp;
    <div class="container-fluid">
        <button (click)="gpdf()" defer>Download pdf</button>
    </div>
</body>

</html>